			
			
			#social {
				display: block;
				position: fixed; z-index:800;
		
				/*margin-top: -20px;*/
			}
				
				#social > div {
					display: block;
					width: 33px;
					height: 33px;
					cursor: pointer;
				}
				
				#social img { width: 33px; }
				
				#social .bg { display: none; position: absolute; }
				#social .icon { display: block; position: absolute; }
				
	
	