@charset "utf-8";
/* CSS Document */
#rsistock{
	visibility:hidden}
.avail0{

	
	
	
	background-repeat:no-repeat;

	 position:relative;
	 float:left;
	margin: 0 auto;
text-align: center;clear:both
	
	}
.avail1{

	
	
	
	background-repeat:no-repeat;

	 position:relative;
	 float:left;
	margin: 0 auto;
text-align: center; clear:both
	
	
	}
	.avail2{
	position:relative; 
	

	background-repeat:no-repeat;

	 float:left;
	 margin: 0 auto;
text-align: center;clear:both
	
	
	}
		.avail3{
	position:relative; 
	

	background-repeat:no-repeat;
 float:left;
	margin: 0 auto;
text-align: center;clear:both
	
	
	
	}
		.avail4{
	position:relative; 
	

	background-repeat:no-repeat;

	 float:left;
	margin: 0 auto;
text-align: center;clear:both
	 
	
	}
	.rss-popup {
margin: 100px auto;
padding: 0;
width: 100px;
position: relative;
}
 
div.rss-popup em {
background: url(bubble.png) no-repeat;
width: 100px;
height: 49px;
position: absolute;
top: -70px;
left: -0px;
text-align: center;
text-indent: -9999px;
z-index: 2;
display: none;
}
 
#rss-icon {
width: 42px;
height: 42px;
background: url(icon.png) no-repeat 0 0;
text-indent: -9999px;
margin: 0 auto;
display: block;
}

#short_description_block2{
background: transparent;
border: 1px solid #D0D3D8;
margin-bottom: 1.5em;
padding: 1%;
width:96%;
margin-top: 1.5em; position:relative; float:left}
.rsisto{margin-right:15px}
@media (max-width: 768px){
	.rsisto{max-width:40px}
	
	}